{{#extends 'base'}}

{{#block 'title'}}Actors{{/block}}

{{#block 'content'}}
<h1>Actors</h1>
<a href="/actor/create" class="btn btn-success">Add New Actor</a>
<table class='table'>
    <thead>
        <tr>
            <th>Actor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Last Update</th>
        </tr>
    </thead>
    {{#each actors}}
        <tr>
            <td>{{this.actor_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.last_update}}</td>
            <td><a href="/actor/{{this.actor_id}}/update" class="btn btn-success">Edit</a></td>
            <td><a href="/actor/{{this.actor_id}}/delete" class="btn btn-danger">Delete</a></td>
        </tr>
    {{/each}}
</table>
{{/block}}

{{/extends}}